body {
    margin: 0%;

    font-family: 'Roboto', sans-serif;
}

.intro {
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 15em;
    padding-bottom: 15em;

}

.intro h1 {
    font-size: 4em;
    font-weight: bolder;
}

.intro p {
    font-size: medium;
    font-weight: bold;
}

.link_button {
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 1ex;
}

.donate_today {
    margin-left: 0%;
    text-align: center;
    margin-top: 5em;
}

#box_style {
    display: flex;
    margin-left: 31em;
    margin-top: 5em;

}

.box {
    padding: 3em;

    text-align: center;
    margin-left: 2em;
    background-color: #FAFAFA;
    color: #707070;
    font-size: large;
    font-weight: bold;
}

.choose {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.amount {
    text-decoration: none;
    margin-left: 39em;
    margin-top: 4em;




}

.text {
    padding: 1em 4em;
    border: none;
    font-size: xx-large;
    text-align: center;

}

.link_button_2 {
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 1ex;
    margin-left: 54em;
    margin-top: 20px;
}

.diva {
    margin-top: 5em;
}

.icon {
    display: flex;
    margin-left: 2em;
    margin-top: 4em;

}

.part {
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 1em;
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: beige;
    border-radius: 2em;
}

.past {
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 5%;

}

.point {
    width: 40%;
    padding-right: 5%;

}

.point h1 {
    font-size: xx-large;
    font-weight: 900;
}

.point img {
    width: 100%;
    border-radius: 1em;
}

.point a {
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 1ex;
}

.email {
    margin-top: 5em;
    margin-left: 40em;
    margin-right: 40em;
    background-color: bisque;
}

.email lebel {
    background-color: #FF5959;
    color: white;
    padding: 0em;
}

.email_in {
    padding: 5em 10em;
}

footer {
    background-color: black;
    text-align: center;
    margin-top: 5em;
}

.footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

footer h2 {
    color: #FF5959;
}

footer p {
    color: white;
}